body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    background-color: rgba(123, 177, 179, 0.874);
}

    .massage{
        font-size: medium;
        color: rgb(90, 88, 169);
        padding: 20px;
        border: 2px solid #008080;
        border-radius: 8px;
        background-color: #e0ffff;
        text-align: center;
}
    